# Android
*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
*.keystore
!debug.keystore
android-app/.idea/
android-app/app/build/
android-app/local.properties
android-app/*.iml
android-app/app/*.iml

# Go
go-backend/bin/
go-backend/*.exe
go-backend/*.out

# General
*.log
*.tmp
.env
.env.local
__pycache__/
node_modules/
